extends layout

block content
	.container
		//- #fb-root
		p
			//- fb:login-button(show-faces='false', width='200', max-rows='1')
		p
			#login
				span.signinButton
					span.g-signin(
						data-callback='signinCallback', 
						data-clientid='483968550968.apps.googleusercontent.com', 
						data-cookiepolicy='single_host_origin', 
						data-requestvisibleactions='http://schemas.google.com/AddActivity', 
						data-scope='https://www.googleapis.com/auth/plus.login')

	//- script(type="text/javascript", src="login_facebook.js")
	script(type="text/javascript", src="login_google.js")